*.log
.DS_Store
src/.env
docker/.env
.env.backup
.env.production
.phpactor.json
src/.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
*/node_modules
/src/public/build
/src/public/hot
/src/public/storage
/storage/*.key
/src/storage/pail
*/vendor
Homestead.json
Homestead.yaml
Thumbs.db
var
docker/postgresql
