.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
}

.logout-btn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.logout-btn:hover
{
    background-color: #c82333;
}
