APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_SERVICE=app

LOG_CHANNEL=promtail
SAIL_XDEBUG_MODE=coverage

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=storeapp
DB_USERNAME=sail
DB_PASSWORD=password

MAIL_MAILER=smtp
MAIL_HOST=Laravel_mailhog
MAIL_PORT=1025
MAIL_UI=8025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="no-reply@your-app.com"
MAIL_FROM_NAME="${APP_NAME}"

MINIO_ROOT_USER=sail
MINIO_ROOT_PASSWORD=password
MINIO_ENDPOINT=http://minio:9000
FORWARD_MINIO_PORT=9010
FORWARD_MINIO_CONSOLE_PORT=8900
